body{
  background: -webkit-linear-gradient(right,#eaff00,#d7e858);
  
}
p{ 
     color:rgb(0, 0, 0);
}
b{
    color:rgb(255, 255, 255);
       background: -webkit-linear-gradient(right,#535353,#d7e858);

}


